<html ng-app="App">
<head>
  <meta charset="UTF-8">
  <title>Angular TSA</title>
  <!-- <script src="src/modules/todo.js"></script> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="dist/css/styles.css">
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />

</head>
<body ng-controller="MainCtrl" ng-init="init()">
<h1>Angular TSA Claims</h1>


<div class="column" style="width:50%;float:right;display:none;">
  <h2>{{currentAirline.name}}</h2>
  <div ng-show="lineData.length === 0">
    Loading....
  </div>

  <div ng-show="lineData.length > 0">
    <select name="airlines" id="airlines-select"
      ng-options="airline.name for airline in airlines"
      ng-model="airline"
      ng-change="setCurrentAirline()"
    >
    </select>
    <canvas
      class="chart chart-line"
      chart-data="lineData"
      chart-labels="lineLabels"
      chart-options="lineOptions"
      chart-series="lineSeries"
      chart-dataset-override="datasetOverride">
    </canvas>
  </div>
</div>


<div class="column" style="width:40%;float:left;margin-left:25px;">
  <h2>{{currentAirport.code}}</h2>
  <small>{{currentAirport.name}}</small>
<!--   <div ng-show="barData.length === 0">
    Loading....
  </div> -->
  <select
    name="airports" id="airports-select"
    ng-options="airport.code for airport in airports"
    ng-model="airport"
    ng-change="setCurrentAirport()"
  >
  </select>
  <canvas
    class="chart chart-bar"
    chart-data="barData"
    chart-labels="barLabels"
    chart-options="barOptions"
    chart-series="barSeries"
    chart-dataset-override="datasetOverride">
  </canvas>
</div>

  <script src="dist/js/papaparse.min.js"></script>
  <script src="dist/js/angular.min.js"></script>
  <script src="dist/js/Chart.min.js"></script>
  <script src="dist/js/angular-chart.min.js"></script>
  <script src="src/app.js"></script>
</body>
</html>